@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Quicksand:wght@300;400&display=swap'); 

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

body main {
  max-width: 960px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
